.react-calendar {
    width: 100%;
    max-width: 90%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.react-calendar__month-view__days__day {
    padding: 0;
}

.react-calendar__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f6a192;
}

.react-calendar__navigation button {
    background: none;
    border: none;
    font-size: 4rem;
    color: #f6a192;
    cursor: pointer;
    padding: 0 1rem;
}

.react-calendar__navigation button:nth-child(3) {
    font-size: 3rem;
    font-weight: bold;
    color: #f6a192;
  }

.react-calendar__month-view__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    color: #f6a192;
    padding-bottom: 0.5rem;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5rem 0;
}

.react-calendar__month-view__days {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    grid-auto-rows: 1fr;
}

.react-calendar__tile {
    border-top: 1px solid #f6d992;
    border-left: 1px solid #f6d992;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.react-calendar__month-view__days__day:nth-child(7n) {
    border-right: 1px solid #f6d992;
}

.react-calendar__month-view__days__day:nth-last-child(-n+7) {
    border-bottom: 1px solid #f6d992;
}

@media (min-width: 640px) {
    .react-calendar__tile {
        min-height: 70px;
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) {
    .react-calendar__tile {
        min-height: 80px;
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .react-calendar__tile {
        min-height: 90px;
        font-size: 1.3rem;
    }
}

.react-calendar__tile--now {
    background: #f6a192 !important;
    color: white;
}

.react-calendar__tile--active {
    background: #f6c492 !important;
    color: black;
}

.react-calendar__tile--hover {
    background: #f6d992 !important;
    color: black;
}